
</div>
<div class="footer-padding"></div>
  <footer class="footer">
    <div class="container">
     <% var d = new Date(); %>
      <%  var n = d.getFullYear(); %>
      <p>Copyright © <%= n %></p>
    </div>
  </footer>
</div>
</body>
</html>
