<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Student DBMS</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800;900&display=swap" rel="stylesheet">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand brand">STUDENT DBMS</p>
      </div>
<<<<<<< HEAD
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="about"><a href="../about">ABOUT</a></li>
          <li id="contact"><a href="../contact">CONTACT</a></li>
        </ul>
=======
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="../about">ABOUT</a></li>
        <li id="contact"><a href="../contact">CONTACT</a></li>
      </ul>
>>>>>>> db25838c32e26a9c25b632c3bd4d499df9e13fa6
    </div>
  </nav>

<body>
  <div class="container pageContentWrapper">