<%- include("../partials/header") -%>
<form action="/orderParts/create" method="POST">
    <div class="padding row form-group">
        <div class="col-md-4">
            <label for="OrderID">
                <h3>Order ID</h3>
            </label>
            <input type="number" class="form-control" id="OrderID" name="OrderID" />
        </div>
    </div>
    <div class="padding row form-group">
        <div class="col-md-4">
            <label for="PartID">
                <h3>Part ID</h3>
            </label>
            <input type="number" class="form-control" id="PartID" name="PartID" />
        </div>
    </div>
    <button type="submit" class="padding btn btn-lg btn-primary">Go!</button>
</form>
<%- include("../partials/footer") -%>