<%- include("partials/header") -%>
<h1>About</h1>
<p>This is a mini project for DBMS lab.</p>
<p>The Schema Diagram for the project is as shown:</p>
<img src="/SchemaDiagram.jpeg" alt="schema diagram" />
<%- include("partials/footer") -%>
