<%- include("partials/header") -%>
<h1>Contact Us</h1>
<p><a href="mailto: nityaa55@gmail.com">A Nitya Dyuthi</a> - 1BY18CS001</p>

<p><a href="mailto: kanak101.kd@gmail.com">Kanak Dullu</a> - 1BY18CS071</p>
<%- include("partials/footer") -%>
