<%- include("partials/header") -%>
<% if (status==="ok") { %>
<h1>Success! ✔️</h1>
<h3>Which entity do you want to work with?</h3>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="radio1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
        Student
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="radio2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
        Class
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="radio3" value="option2">
    <label class="form-check-label" for="exampleRadios2">
        Instructor
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="radio4" value="option2">
    <label class="form-check-label" for="exampleRadios2">
        Department
    </label>
</div>
<div class="form-check">
    <input class="form-check-input" type="radio" name="exampleRadios" id="radio5" value="option2">
    <label class="form-check-label" for="exampleRadios2">
        Guardian
    </label>
</div>
<button type="button" action="/" class="padding btn btn-lg btn-primary">Go!</button>
<%} else { %>
<h1 class="padding">Who are you? Let's take you back!</h1>
<a href="/" class="padding btn btn-lg btn-primary">Go!</a>
<% } %>
<%- include("partials/footer") -%>