<%- include("partials/header") -%>
<h1>You're in! ✔️</h1>
<h3>Which entity do you want to work with?</h3>
<div class="padding list-group">
  <a href="./customer/" class="padding-sm list-group-item list-group-item-info"
    >Customer</a
  >
  <a
    href="./customerModels"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Models Owned By Customer</a
  >
  <a
    href="./parts"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Parts</a
  >
  <a
    href="./modelParts"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Parts of Model</a
  >
  <a
    href="./model"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Models</a
  >
  <a
    href="./orders"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Orders</a
  >
  <a
    href="./orderParts"
    class="padding-sm list-group-item list-group-item-action list-group-item-info"
    >Parts in Order</a
  >
</div>
<a class="btn btn-lg btn-danger" href="/logout">Log Out</a>
<%- include("partials/footer") -%>
