<%- include("partials/header") -%>
<h1>You're in! ✔️</h1>
<h3>Which entity do you want to work with?</h3>
<div class="padding list-group">
  <a href="./customer/" class="padding-sm list-group-item list-group-item-info">Customer</a>
  <a href="./customerModels" class="padding-sm list-group-item list-group-item-action list-group-item-info">Customer
    Models</a>
  <a href="./parts" class="padding-sm list-group-item list-group-item-action list-group-item-info">Parts</a>
  <a href="./modelParts" class="padding-sm list-group-item list-group-item-action list-group-item-info">Parts of
    Model</a>
  <a href="./model" class="padding-sm list-group-item list-group-item-action list-group-item-info">Models</a>
  <a href="./orders" class="padding-sm list-group-item list-group-item-action list-group-item-info">Orders</a>

</div>
<%- include("partials/footer") -%>