/* Tags */
html {
  position: relative;
  min-height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0f0e17;
  color: #fffffe;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

input[type=text] {
  background-color: #ff8906;
  color: #fffffe;
}

input[type=password] {
  background-color: #ff8906;
  color: #fffffe;
}

input[type=number] {
  background-color: #ff8906;
  color: #fffffe;
}

input:focus {
  background-color: #f25f4c;
}

/* Classes */
.pageContentWrapper {
  margin-bottom: 100px;
}

.red-text {
  color: red;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #fff;
  background-color: #ff8906;
}

.navbar-brand.brand {
  color: white;
  letter-spacing: 0.75px;
  font-size: 2.5rem;
}

.navbar-nav li a {
  color: white !important;
  font-style: unset;
  letter-spacing: 0.75px;
}

.navbar-nav li a:hover {
  color: #f25f4c !important;
}

.navbar-branch li a:hover {
  color: #f25f4c !important;
}

.footer-padding {
  padding-top: 1.15rem !important;
  padding-bottom: 1.15rem;
}

.footer {
  position: absolute;
  display: block;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ff8906;
  flex-shrink: 0;
}

.footer p {
  margin-top: 15px;
  font-size: 12px;
  color: #fff;
  padding: 0 !important;
}

.form-group {
  margin-bottom: 5px;
}


.padding {
  padding: 1.25rem;
}

.padding-sm {
  margin: 1.5rem;
  font-size: 1.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

button.padding {
  margin: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

a.padding {
  margin: 2rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: #ff8906;
}

.btn:hover {
  background-color: #f25f4c;
}

.btn-danger {
  background-color: red;
  margin-left: 3rem;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px !important;
}

.styled-table thead tr {
  border-radius: 8px;
  background-color: #f25f4c;
  color: #ffffff;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.styled-table th,
.styled-table td {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 12px 15px;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #ff8906;
  border: none;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #f25f4c;
  border-radius: 8px;
}

.list-group {
  max-width: 40rem;
}

a.list-group-item-info,
button.list-group-item-info {
  background: #f25f4c;
  color: white;
  border-radius: 6px !important;
  border: none;
}

a.list-group-item-info-sm,
button.list-group-item-info-sm {
  background: #f25f4c;
  color: white;
  font-size: 1.55rem;
  border-radius: 6px !important;
  border: none;
  display: inline-block;
}

a.list-group-item-info:hover,
button.list-group-item-info:hover {
  background: #d3d3d3;
  color: black;
  border-radius: 6px !important;
}

.font-semibold {
  font-weight: 600;
}

.white-text {
  color: white;
}