<%- include("../partials/header") -%>
<form action="/parts/delete" method="POST">
    <div class="padding row form-group">
        <div class="col-md-4">
            <label for="id">
                <h3>Part ID</h3>
            </label>
            <input type="text" class="form-control" id="id" name="id" />
        </div>
    </div>
    <button type="submit" class="padding btn btn-lg btn-primary">Go!</button>
</form>
<%- include("../partials/footer") -%>