<%- include("../partials/header") -%>
<h1>The Parts Table:</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>Model ID</th>
            <th>Part ID</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(row => { %>
        <tr>
            <td><%= row.ModelID %></td>
            <td><%= row.PartID %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<h1>Do you want to:</h1>
<div class="row padding list-group">
    <a href="../modelParts/create" class="col-sm-3 padding-sm list-group-item list-group-item-info">Create a
        record</a>
    <a href="../modelParts/delete"
        class="col-sm-3 padding-sm list-group-item list-group-item-action list-group-item-info">Delete a record</a>
</div>
<%- include("../partials/footer") -%>