<%- include("../partials/header") -%>
<h1>The Customer Models Table:</h1>
<table class="styled-table">
  <thead>
    <tr>
      <th>Customer Name</th>
      <th>Model Name</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(row => { %>
    <tr>
      <td><%= row.CustomerName %></td>
      <td><%= row.ModelName %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<h1>Do you want to:</h1>
<div class="row padding list-group">
  <a
    href="../customerModels/create"
    class="col-sm-4 padding-sm list-group-item list-group-item-info-sm"
    >Create a record</a
  >
  <a
    href="../customerModels/delete"
    class="col-sm-4 padding-sm list-group-item list-group-item-action list-group-item-info-sm"
    >Delete a record</a
  >
</div>

<%- include("../partials/footer") -%>
