<%- include("../partials/header") -%>
<h1>The Student Table:</h1>
<table class="styled-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach(row => { %>
    <tr>
      <td><%= row.sname %></td>
      <td><%= row.usn %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<h1>Do you want to:</h1>
<div class="row padding list-group">
  <a
    href="../student/create"
    class="col-sm-3 padding-sm list-group-item list-group-item-info"
    >Create a row</a
  >
  <a
    href="../student/update"
    class="col-sm-3 padding-sm list-group-item list-group-item-action list-group-item-info"
    >Update a row</a
  >
  <a
    href="../student/delete"
    class="col-sm-3 padding-sm list-group-item list-group-item-action list-group-item-info"
    >Delete a row</a
  >
</div>

<%- include("../partials/footer") -%>
