<%- include("../partials/header") -%>
<form action="/customer/delete" method="POST">
  <div class="padding row form-group">
    <div class="col-md-4">
      <label for="id">
        <h3>Customer Name </h3>
      </label>
      <h4>
        <select class="btn btn-secondary white-text dropdown-toggle" name="id" id="id">
          <% for (const i in data) { %>
          <option class="dropdown-item white-text font-semibold" value="<%= data[i].CustomerID %>">
            <%= data[i].CustomerName %> </option>
          <% } %>
        </select>
      </h4>
    </div>
  </div>
  <button type="submit" class="padding btn btn-lg btn-primary">Go!</button>
</form>
<a href="/customer/" class="padding btn btn-lg btn-primary">Back to the Customers Table</a>
<%- include("../partials/footer") -%>