<%- include("../partials/header") -%>
<form action="/model/update" method="POST">
    <div class="padding row form-group">
        <div class="col-md-4">
            <label for="id">
                <h3>Model ID</h3>
            </label>
            <input type="text" class="form-control" id="ModelID" name="ModelID" />
        </div>
    </div>
    <div class="padding row form-group">
        <div class="col-md-4">
            <label for="phone">
                <h3>Model Name</h3>
            </label>
            <input type="text" class="form-control" id="ModelName" name="ModelName" />
        </div>
    </div>
    <button type="submit" class="padding btn btn-lg btn-primary">Go!</button>
</form>
<%- include("../partials/footer") -%>